<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    {{#each courses}}
    <div class="col">
        <div class="card h-100">
            <img src="/images/courses/{{this.img}}" class="card-img-top" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">
                    <a href="/courses/{{this.id}}" class="text-decoration-none text-dark stretched-link">Last
                        updated 3 mins ago</a>
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>