<h1>Quản lý khóa học</h1>
<form action="" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm khóa học..." name="searchText"
            value="{{searchText}}">
        <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <form action="" method="get" id="sortForm">
                    <input hidden type="text" value="{{sortBy}}" name="sortBy" />
                    <input hidden type="text" value="{{#if (eq sortOrder 'asc')}}desc{{else}}asc{{/if}}"
                        name="sortOrder" />
                    <input hidden type="text" value="{{searchText}}" name="searchText" />
                    <span class="hover-cusor">Tên khóa học</span>
                    <i class="bi bi-arrow-{{#if (eq sortOrder 'asc')}}up{{else}}down{{/if}} hover-cusor"
                        onclick="document.getElementById('sortForm').submit()"></i>
                </form>
            </th>
            <th scope="col">Mô tả</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>
                <button type="button" class="btn btn-danger btnDeleteCourse" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-course-id="{{this.id}}">Xóa</button>
                <a href="/courses/{{this.id}}/update" class="btn btn-warning">Sửa</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div>
    <nav aria-label="Page navigation example" class="d-flex justify-content-end">
        <ul class="pagination">
            {{{generatePagination totalPages pageIndex pageSize searchText sortBy sortOrder}}}
        </ul>
    </nav>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="formDeleteCourse" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa khóa học này không?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const btnDeleteCourse = document.querySelectorAll(".btnDeleteCourse");
        const formDeleteCourse = document.querySelector("#formDeleteCourse");

        btnDeleteCourse.forEach((btn) => {
            btn.addEventListener("click", () => {
                const courseId = btn.getAttribute("data-course-id");
                formDeleteCourse.setAttribute("action", `/courses/${courseId}?_method=DELETE`);
            });
        });
    });
</script>