<form method="post" action="/courses/{{course.id}}?_method=PUT" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="courseName" class="form-label">Tên khóa học</label>
        <input type="text" class="form-control" id="courseName" aria-describedby="courseNameHelp" name="name"
            value="{{course.name}}">
        <div id="courseNameHelp" class="form-text">We'll never share your course name with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="courseDescription" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="courseDescription" name="description"
            value="{{course.description}}">
    </div>
    <div class="mb-3">
        <label for="courseImage" class="form-label">Hình ảnh</label>
        <input type="file" class="form-control" id="courseImage" name="img" value="{{course.img}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        async function loadImage(fileName) {
            const res = await fetch(`/images/uploads/courses/${fileName}`);
            if (res.ok) {
                const blob = await res.blob();
                const file = new File([blob], fileName, { type: blob.type });

                // 3. Use DataTransfer to set the input's files
                const container = new DataTransfer();
                container.items.add(file);

                const fileInput = document.getElementById('courseImage');
                fileInput.files = container.files; // Successfully loaded
            } else {
                console.error('Failed to load image');
            }
        }

        loadImage('{{course.img}}');
    });
</script>